<!DOCTYPE html>
<html lang="en" ng-app>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://d396qusza40orc.cloudfront.net/startup/code/jquery.js"></script>
    <script src="https://d396qusza40orc.cloudfront.net/startup/code/bootstrap.js"></script>
    <script src="js/angular.min.js" ></script>
    <script src="js/controllers.js"></script>
    <script src="js/google-analytics.js"></script>
    <script src="https://coinbase.com/assets/button.js"></script>
    <script src="js/coinbase-post-payment.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,300,400,600,700,800" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fbootstrap-combined.no-icons.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
    <link rel="stylesheet" href="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fsocial-buttons.css">
    <link rel="stylesheet" href="css/bitstarter-styles.css">
  </head>
  <body>
    
    <% include navbar.ejs %>
    
    <div class="container">
      <h2>Welcome to Your FanBooker Account!</h2><hr>
      <div class="span5">
	<p><i>Name:</i> <%= user.displayName %></p>
	<p><i>Email:</i> <%= user.email %></p>
	<hr>
	<p><i>Your Suggested Events:</i></p>
	<hr>
	<table class="table table-striped">
          <thead>
            <th>Performer</th>
            <th>City</th>
            <th>Votes</th>
          </thead>
          <tbody>
            <% for(var i = 0; i < events.length; i++) {%>
               <tr>
		 <td><%= events[i].performer %></td>
		 <td><%= events[i].city %></td>
		 <td><%= events[i].votes_counter %></td>
	       </tr>
               <% } %>
          </tbody>
	</table>
      </div> <!-- end of span5 -->
      
      <div class="span5">
	<h3>Suggest An Event</h3>
	<div id="event-form">
          <form action="/suggest_event" method="post">
            <div id="form-alerts">
              <% if (message) { %>
              <p><%= message %></p>
              <% } %>
            </div>
            <div class="form-group">
              <label class="control-label">Band / Artist / Performer:</label>
              <input class="form-control" type="text" value="" name="performer">
              <span class="help-block"></span>
            </div>
	    <div class="form-group">
              <label class="control-label">City / Town:</label>
              <input class="form-control" type="text" value="" name="city">
              <span class="help-block"></span>
            </div>
            <div class="form-group">
              <label class="control-label">Your Comment (optional):</label>
              <textarea class="form-control" type="text" rows="10" cols="50" name="comment"></textarea>
              <span class="help-block"></span>
            </div>
            <div class="form-group">
              <button class="btn btn-primary btn-submit" type="submit">I Demand!</button>
            </div>
          </form>
        </div> <!-- end of event-form -->

      </div> <!-- end of span5 -->
    </div> <!-- end of container -->
  </body>
</html>
